<aside id="side_bar">
    <% if(locals.name.img.data){%>
       
        <img src="data:<%=name.img.contentType%>;base64,<%=name.img.data.toString('base64')%>" alt="" class="text-center" id="profile_pic">
        
        <%} else {%>
            <i class="far fa-user"></i>
        <%}%>
    
    <p><%=name.name %></p>
    <a class="logout user_profile" href="/profile/<%=name._id%>">Profile</a>
    <a class="logout user_profile" href="/users/logout">logout</a>
    <h4>Channels </h4>
    <ul class="channel_list">
        <% for(let i=0; i < channels.length ; i++) { %>
            <li >
                <% if (channels[i].status==='public'){%> 
                    <i class="fas fa-hashtag"></i>
                    <a class="logout" href="/channels/<%=channels[i]._id %>">
                        <%= channels[i].channelName %>
                    </a>
                <%} %>
                
            </li>
        <% } %>
           <li><a class="logout" href="/channels/new">Add channel <i class="fas fa-plus"></i></a> </li>

            
    </ul>
    <div class="user_list" id="online_users">
<% if (typeof usernames!='undefined' ){%>
    <% for(let i=0;i< usernames.length;i++){%>
<p>
        <a class="logout" href="">
           
                <%= usernames[i] %>
            
        </a>
        </p>

        <%}%>
            <%}%>
</div>
</aside>
