
    <div class="container">
        <%- include('partials/channel', channels) -%>
        <div id="slack-chat">
            <h1>
                <%=channel.channelName%>
            </h1>
            <h2>Chat and have fun!!!</h2>
            <div id="chat_messages">
                <% for(item of channel.conversation) { %>
                    <div>
                        <% if (item.userImage==='' || typeof(item.userImage==='undefined' ) ){%>
                            <i class="far fa-user"></i>
                        <%}%>
                        <h4 ><%=item.user %>  <span><%= item.timestamp %> </span> </h4>
                        <p><%= item.message %></p>
                    </div>
                        <% } %>
            </div>
            <form id="form">
                <input type="text" id="name" value="<%=name%>" hidden> 
                <input type="text" id="message" placeholder="Type your message here">
                <button>Send</button>
            </form>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/scripts/script.js"></script>
