
    <div id="container">
        <%- include('partials/channel', channels) -%>
        <div id="slack-chat">
            <h1>
                <%=channel.channelName%>
            </h1>
            <h3>Chat and have fun!!!</h3>
            <div id="chat_messages">
                <% for(item of channel.conversation) { %>
                        <div>
                       
                        <p class="user"><%=item.user %> 
                            <span>
                                <% let x= item.timeStamp.toLocaleTimeString() %>
                                <%= x %>
                            </span>
                        </p>
                        <p class="message"><%= item.message %></p>
                        </div>
                        <% } %>
            </div>
            <form id="form">
                <input type="text" id="name" value="<%=name%>" hidden> 
                <input type="text" id="channel" value="<%=channel.channelName%>" hidden> 
                <input type="text" id="message" placeholder="Type your message here">
                <button>Send</button>
            </form>
        </div>
    </div>
 
    
